<!--ユーザー名の部分テンプレート-->
  <div class="container px-5 px-sm-0">
    <div class="row-md-1">
      <h2>User info</h2>
      <%= image_tag customer.get_profile_image(100,100) %>

      <table class="table">
        <tbody>
          <tr>
            <td>ニックネーム</td>
            <td><%= customer.name %>さん</td>
          </tr>
        </tbody>
      </table>

  <!--ログインユーザーのみマイページ編集用のリンク先表示-->
      <div class="row">
        <div class="col text-center">
          <% if customer == current_customer %>
            <%= link_to edit_customer_path(customer.id), class:"btn btn-outline-secondary btn-block" do %>
              <i class="fas fa-user-cog"></i>
            <% end %>
          <% else %>
          <% end %>
        </div>
      </div>
    </div>
  </div>